html {
    font-family: helvetica, arial;
    color: #ddd;
}

body {
    background-image: linear-gradient(150deg, #2e221e, 70%, #504300);
    color: #ddd;
}

main {
    height: 90vh;
    overflow: hidden;
    padding-top: 150px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
}

.btn-outline-secondary {
    border-color: #bbb;
    color: #bbb;
}

.btn-outline-secondary:hover{
    border-color: #bbb;
    background-color: #bbb;
    color: #000;
}

a {
    text-decoration: none; 
}
