* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
html {
    font-family: helvetica, arial;
    color: #ddd;
}

body {
    background-image: linear-gradient(150deg, #2e221e, 70%, #504300);
    color: #ddd;
}

.form {
    width: 500px;
    margin-top: 200px;
}

.form .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .logo-container span {
    font-size: 40px;
    margin-left: 20px;
}

.form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button {
    color: #2e221e;
}
