{% extends 'base.html' %}
{% load static %}


{% block headers %}
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}


{% block content %}

            {% if form.errors %}
               <p style="color: red">Invalid username or password</p>
            {% endif %}
        
            <input 
                type="text" 
                name="username" 
                placeholder="Username" 
                class="form-control"
                style="margin-top: 10px"
            />
            <input 
                type="password" 
                name="password" 
                placeholder="Password" 
                class="form-control"
            />
            <div>
                <a role="button" class="btn btn-outline-secondary me-5" href="{% url 'users:signup' %}">Sign Up</a>
                <button type="submit" class="btn btn-warning">Log In</button>
            </div>

{% endblock %}