.form {
    width: 500px;
    margin-bottom: 100px;
}

.form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .form-control {
    background-color: #79662e47;
    border-color: #79662e93;
    width: 500px;
    color: #ddd;
}


  